{% macro change() %}

    <form id="input-form" action="/change" method="post" target="_self">

        <input type="password" placeholder="old password" name="password" value="" required />
        <input type="password" placeholder="new password" name="password" value="" required />
        <input type="password" placeholder="confirm password" name="password" value="" required />

        <div id="input-button">
            <button type="submit">
                <i class="fa fa-unlock"></i>
                Change Password
            </button>
        </div>

    </form>

    <style>

        #input-form {
            display: flex;
            flex-direction: column;
        }

        #input-button {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 1rem;
        }

    </style>

{% endmacro %}
